.program-section {
    background-color: rgb(189, 179, 163);
    border: 1px solid rgb(189, 179, 163);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
}

.program-section h1 {
    color: white;
}

.program-body {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.schedule-item {
    display: flex;
    flex-direction: row;
    position: relative;
}

.left-side {
    justify-content: left;
    text-align: left;
    float: left;
}

.right-side {
    justify-content: right;
    text-align: right;
    float: right;
}

.time {
    font-family: "Gaqire", serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-right: 15px;
    color: white;
    font-size: 1.4rem;
}

.event p {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

.hyphen {
    font-weight: normal;
    font-size: 1.4rem;
    color: white;
}

@media (max-width: 500px) {
    .time {
        font-size: 2.7rem;
    }

    .event p {
        font-size: 1.2rem;
    }
    
    .hyphen {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .event p {
        font-size: 1rem;
    }

    .time {
        font-size: 2.5rem;
    }
}