@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vioda+Libre&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

/* Карточка */
.dress-code-section {
  background-color: white;
  border: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
}

/* Фото-блок */
.color-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.color-box {
    min-height: 40px;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.first-color-male {
    background-color: rgba(17, 34, 80);
}

.second-color-male {
    background-color: rgba(245, 240, 233);
}

.third-color-male {
    background-color: rgba(189, 179, 163);
}

.fourth-color-male {
    background-color: rgba(129, 151, 172);
}

.first-color-female {
    background-color: rgba(179, 217, 224);
}

.second-color-female {
    background-color: rgba(136, 144, 99);
}

.third-color-female {
    background-color: rgba(226, 179, 194);
}

.fourth-color-female {
    background-color: rgba(250, 227, 111);
}

.dress-code-examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
    justify-content: center;
}

.dress-code-examples-image {
    border-radius: 200px;
}

.dress-code-examples-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Адаптивность */
@media (max-width: 400px) {
    .color-box {
        min-height: 30px;
        border-radius: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
