@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');

/* Карточка */
.invitation-section {
  background-color: white;
  border: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
}

/* Фото-блок */
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.image-border {
  width: 280px;
  height: 380px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-border::before,
.image-border::after {
  content: '';
  position: absolute;
  width: 340px;
  height: 440px;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
}

.image-border::before {
  transform: rotate(10deg);
}

.image-border::after {
  transform: rotate(-10deg);
}

.image-border-inner {
  width: 300px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wedding-image {
  width: 100%;
  height: auto;
}

.date-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Дата свадьбы */
.date-container {
  border: 2px solid rgb(121, 129, 106);
  padding: 20px 20px 10px 20px;
  border-radius: 20px;
  font-family: "League Script", serif;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(121, 129, 106);
  margin: 0px;
}

/* Цитата */
.quote {
  font-style: italic;
  font-size: 1rem;
  color: #777;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 450px) {
  .date-container {
    font-size: 2.5rem;
  }
}

/* Адаптивность */
@media (max-width: 420px) {
  .image-border {
    width: 240px;
    height: 340px;
  }

  .image-border::before,
  .image-border::after {
    width: 300px;
    height: 400px;
  }

  .image-border-inner {
    width: 260px;
    height: 360px;
  }

  .date {
    padding: 8px 15px;
  }

  .quote {
    font-size: 0.9rem;
  }
}

@media (max-width: 370px) {
  .image-border {
    width: 220px;
    height: 320px;
  }

  .image-border::before,
  .image-border::after {
    width: 260px;
    height: 360px;
  }

  .image-border-inner {
    width: 220px;
    height: 320px;
  }

  .date {
    padding: 5px 10px;
  }

  .quote {
    font-size: 0.7rem;
  }
}
