@import url('https://fonts.googleapis.com/css2?family=Vioda+Libre&display=swap');

.vanue-section {
    background-color: rgb(121, 129, 106);
    border: 1px solid rgb(121, 129, 106);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
}

.vanue-section h1 {
    color: #e0e0e0;
}

.vanue-body-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.vanue-container-text {
    border: 2px solid #e0e0e0;
    color: #e0e0e0;
    padding: 5px;
    display: inline;
}

.vanue-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
}

.vanue-container-image {
    overflow: hidden;
}

.vanue-container-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.venue-subtitle h2 {
    font-size: 2rem;
    margin: 5px;
}

.venue-text h2 {
    font-size: 1.8rem;
    margin: 5px;
}

.vanue-container-subtitle {
    color: #e0e0e0;
}

@media (max-width: 768px) {
    .venue-subtitle h2 {
        font-size: 1.8rem;
        margin: 5px;
    }
    
    .venue-text h2 {
        font-size: 1.6rem;
        margin: 5px;
    }
}

@media (max-width: 600px) {
    .venue-subtitle h2 {
        font-size: 1.5rem;
        margin: 5px;
    }
    
    .venue-text h2 {
        font-size: 1.3rem;
        margin: 5px;
    }
}

@media (max-width: 500px) {
    .vanue-container-text h2 {
        font-size: 1.2rem;
    }
}
  
@media (max-width: 400px) {
    .vanue-container-center {
        border-radius: 120px;
    }

    .vanue-body-container {
        grid-template-columns: 1fr;
    }

    .venue-place1 {
        grid-row-start: 1;
    }

    .venue-subtitle {
        grid-row-start: 2;
    }

    .venue-place2 {
        grid-row-start: 3;
    }

    .venue-text {
        grid-row-start: 4;
    }
}