/* Открытое меню */
.nav-section-max {
    background-color: white;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: max-height .4s;
}

.nav-section-max-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
}

.menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px 10px;
}

.menu-item a {
    font-size: 1.5rem;
    font-family: "Gaqire", serif;
    text-decoration: none;
}

.menu-close {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
    transition: border .4s ease-in-out;
    width: 40px;
    height: 40px;
    justify-self: center;
}

.menu-close:hover {
    border: 1px solid rgb(189, 179, 163);
    animation: .2s ease-in rotate;
}

.menu-close img {
    width: 30px;
    height: 30px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(270deg);
    }
}

/* Закрытое меню */
.nav-section-mini {
    background-color: rgb(189, 179, 163);
    border: none;
    display: inline-block;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 20px 10px 20px;
    height: 35px;
    max-height: 35px;
    transition: max-height .4s;
}

.nav-section-mini-container {
    position: relative;
}

.nav-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
}

.nav-img {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    width: 45px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid rgb(189, 179, 163);;
}

.nav-img img {
    width: 100%;
    height: 100%;
}

.card-img {
    width: 125px;
    height: 125px;
    margin-bottom: 20px;
}

.card-img img {
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
    .nav-section-mini .title {
        font-size: 2rem;
    }
}

@media (max-width: 380px) {
    .nav-section-mini .title {
        font-size: 1.5rem;
    }
}